<!DOCTYPE html>
<html ng-app="datasetsAnalysis">
<head>
  <title>DatasetsAnalysis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container" ng-controller="ApplicationCtrl">
  <div class="col-lg-10 col-lg-offset-1">
    <header>
      <h1 class="header-title">Datasets analysis</h1>
      <div ng-controller="SessionsCtrl" ng-show="isAuthenticated()" class="nav-buttons">
        <button class="btn btn-default" ng-show="page == 'index'"
                ng-click="goto('correlation')">Correlation check</button>
        <button class="btn btn-default" ng-show="page == 'correlation'"
                ng-click="goto('index')">Back</button>
        <button class="btn btn-default signout-btn" ng-click="logout()">Sign out</button>
      </div>
    </header>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
  </div>
</div>

</body>
</html>
